.stopwatch {
	display: flex;
	flex-direction: column;
	height: 100%;
	transition: color 0.3s;

	&_playing {
		color: $white;
	}

	&__time {
		display: flex;
		justify-content: center;
		align-items: center;
		flex: 0 0 50%;
		border-bottom: 1px solid currentColor;
	}

	&__control {
		&s {
			flex: 0 0 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 50px;
		}

		&_play {
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 10px 0 10px 17px;
			border-color: transparent transparent transparent currentColor;
		}

		&_pause {
			position: relative;
			width: 17px;
			height: 20px;

			&::before,
			&::after {
				position: absolute;
				content: "";
				height: 100%;
				width: 3px;
				right: 3px;
				background-color: currentColor;
			}

			&::before {
				left: 3px;
			}
		}

		&_reset {
			height: 20px;
			width: 20px;
			background-color: currentColor;
		}
	}
}