$gap: 45px;
$tile_width: 225px;
$tile_height: 120px;

.tiles {
	display: flex;
	flex-wrap: wrap;
	gap: 45px;
	margin: 0 auto;
	max-width: calc($tile_width * 3 + $gap * 2);

	@media (max-width: 860px) {
		max-width: calc($tile_width * 2 + $gap);
	}

	@media (max-width: 590px) {
		max-width: calc($tile_width);
	}

	&__item {
		flex: 0 0 $tile_width;
		height: $tile_height;
		background-color: $grey_dark;
		cursor: pointer;
		transition: opacity 0.3s;
		user-select: none;

		&_add {
			font-size: 40px;
			display: flex;
			justify-content: center;
			align-items: center;

			&:hover {
				opacity: 0.7;
			}
		}
	}
}