<script setup>
	import { reactive } from 'vue';
	import { Stopwatch } from './Stopwatch';

	const stopwatch = reactive(new Stopwatch());
	const options = {
		format      : 'hh:mm:ss',
		ignore_zeros: true,
	}
</script>

<template>
	<div 
		class="stopwatch"
		:class="{'stopwatch_playing': stopwatch.is_running}">
		<time class="stopwatch__time">{{ stopwatch.formatTime(options.format, options.ignore_zeros) }}</time>
		<ul class="stopwatch__controls">

			<li 
				v-if="!stopwatch.is_running"
				@click="() => stopwatch.startTimer()"
				class="stopwatch__control stopwatch__control_play"
				></li>

			<li 
				v-else
				@click="() => stopwatch.stopTimer()"
				class="stopwatch__control stopwatch__control_pause"
				></li>

			<li 
				@click="() => stopwatch.resetTimer()"
				class="stopwatch__control stopwatch__control_reset"
				></li>

		</ul>
	</div>
</template>