*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

ol,
ul {
	list-style: none;
}

body {
	background-color: $black;
	color: $grey_light;
	font-family: 'Gotham Pro';
}

main {
	padding: 72px 48px;
}