<script setup>
	import { ref } from 'vue'
	import Stopwatch from './Stopwatch/Stopwatch.vue';

	const props          = defineProps(['tile_component'])
	const tile_component = props.tile_component;
	let tiles_amount     = ref(0);

	function addNewTile() {
		tiles_amount.value++;
	}
</script>

<template>
	<ul class="tiles">
		<li v-for="n in tiles_amount" class="tiles__item">
			<Stopwatch v-if="tile_component == 'Stopwatch'" />
		</li>
		<li 
			@click="() => addNewTile()"
			class="tiles__item tiles__item_add">+</li>
	</ul>
</template>