<script setup>
import Stopwatch from '@/components/Stopwatch/Stopwatch.vue';
import Tiles from './components/Tiles.vue';
</script>

<template>
  <main>
    <Tiles tile_component='Stopwatch' />
  </main>
</template>

<style lang="scss">
  @import '@/styles/main.scss';
</style>
